---
layout: default
location: contact
menu: contact
title: BeatleTech // Coen Stevens // Freelance web developer // Contact
meta_keywords: web development, freelance web developer, beatlevic, web developer, Coen Stevens, hacker, architect, freelancer, ruby, clojure, javascript
---               

<div id="main" class="grid_8 alpha">
  
  <article class="post">
    
    <h2>Contact info</h2>
    
    <p>
      Email: <a href="mailto:coen@beatletech.com">coen@beatletech.com</a>
    </p>
    
    <p>
      KvK-number: 51640589
    </p>
    
    <p>
      BeatleTech HQ: Graaf florislaan 48, 1181 EB, Amstelveen
    </p>

    <div id="map_canvas" style="width:400px; height:400px"></div>                   
    
  </article>
  
</div> <!-- end main -->

<div id="sidebar" class="grid_4 omega">
  
  {% include technologies-widget.html %}
  {% include recent-posts-widget.html %}
  {% include links-widget.html %}
  
</div> <!-- end sidebar -->
