---
layout: default
location: site
menu: home
title: BeatleTech // Coen Stevens // Freelance software architect and Data scientist
meta_keywords: Data science, machine learning, web development, freelancer, beatlevic, programmer, Coen Stevens, entrepreneur, hacker, scientist, software architect, python, ruby, clojure, javascript, nodejs, node.js
---

<div id="main" class="grid_8 alpha">

  <article class="post">
    <p>
      BeatleTech is my (Coen Stevens) holding company where I offer my services, skills and experience in web development, software architectures and Data Science.
    </p>
  </article>

  <article class="post">

    <h2>Software Architect and Data Scientist</h2>
    <p>
      Currently I'm both Chief Architect and Data Scientist at <a href="http://bottlenose.com">Bottlenose</a>, a trend intelligence platform focused on historical and real-time analytics for Fortune 500 companies. I obtained my M.Sc. and B.Sc. from Delft University of Technology with minors in Psychology and Philosopy. In Delft I continued pursuing a Ph.D. in Machine learning.
    </p>
    <p>
      Two years into the Ph.D. program I decided to leave university and join startup <a href="http://bottlenose.com">Wakoopa</a> in Amsterdam (acquired in 2014) to build a recommender system for their social network in software tracking and sharing. This set the startup precedent to eventually start my own startup Newcope, a platform for predictive analytics of virtual goods. Newcope got seed funded by <a href="http://www.ycombinator.com">Y Combinator</a>, which started of a roller coaster adventure in the heart of Silicon Valley, where I became part of the YC alumni network. After Newcope and freelance work, I joined the aforementioned company Bottlenose, where I continue to work on predictive analytics and scalable big data solutions.
    </p>
    <p>
      Data Science is where my main interest lies with a special interest in Machine Learning, Predictive Analytics and scaling out to handle big data.
    </p>

    <h2>Specializations</h2>
    <p>
      <ul>
        <li><a href="index.html#stats">Machine Learning <span style="color:#8a8a8a">(Predictive models / Recommender systems)</span></a></li>
        <li><a href="index.html#stats">Statistics &amp; Analytics <span style="color:#8a8a8a">(Scipy / Numpy / Scikit-learn / R)</span></a></li>
        <li><a href="index.html#scalable">Scalable architectures <span style="color:#8a8a8a">(Storm / Kafka / Hadoop / RabbitMQ)</span></a></li>
        <li><a href="index.html#big-data">Big data</a></li>
        <li><a href="index.html#nosql">NoSQL databases <span style="color:#8a8a8a">(Elasticsearch / Cassandra / MongoDB)</a></li>
        <li><a href="index.html#bi">Predictive Analytics &amp; Business Intelligence</a></li>
      </ul>
      While my primary focus is on Data Science, I'm also an experienced all-round web-developer <span style="color:#8a8a8a">(Node.js and Ruby)</span>.
    </p>
  </article>

  <article class="post">

    <h2>Consultancy</h2>

    <p>
      <a href="http://ycombinator.com"><img src="images/ycombinator.png" alt="" align="right" style="padding-left:20px;padding-top:5px" /></a>
      Besides software development I'm also interested in advisory roles and business strategies. As a founder of
      a Y Combinator startup and Chief Architect of the fast growing company Bottlenose, I had my fair share of the
      emotional rollercoaster that every entrepreneur goes through, which are valuable experiences I love to share.
    </p>

    <div class="clear"></div>

  </article>


  <article class="post">
    <p>
      For my full CV, please check out <a href="http://linkedin.com/in/beatlevic">LinkedIn</a>.
    </p>
    <p>
      Contact email: <a href="mailto:coen@beatletech.com">coen@beatletech.com</a>
    </p>
  </article>

</div> <!-- end main -->

<div id="sidebar" class="grid_4 omega">

  {% include technologies-widget.html %}
  {% include recent-posts-widget.html %}
  {% include links-widget.html %}
  {% include coursera.html %}

</div> <!-- end sidebar -->
