---
layout: default
location: site
menu: about
title: BeatleTech | Coen Stevens | Big Data &amp; Machine Learning Engineer
meta_keywords: Big Data, Data Engineer, Data science, Data engineer, data scientist, machine alearning, web development, freelancer, beatlevic, programmer, Coen Stevens, entrepreneur, hacker, scientist, software architect, python, ruby, clojure, javascript, nodejs, node.js, scala, spark
---
<!-- <div id="search-searchbar" style="margin-left: 30px; margin-right: 50px"></div> -->
<div id="search-hits-wrapper" style="display:none">
  <h3>Search results</h3>
  <div class="post-list" id="search-hits" style="margin-left: 30px; margin-right: 50px"></div>
  <hr>
</div>

<div id="main" class="grid_8 alpha">

  <article class="post">
    <h2>Big Data &amp; Machine Learning Engineer</h2>
    <p>
      BeatleTech is my (Coen Stevens) freelance company where I offer
      my services, skills and expertise in Big Data engineering and
      Machine Learning. My main fields of interest are AI, Machine
      Learning, Genetics, Bioinformatics and Medical Healthcare.
    </p>
  </article>

  <article class="post index">
    <h2 style="margin-top:30px">Specializations</h2>
    <p>
      <ul>
        <li><a href="index.html#ml">Machine Learning / Deep Learning <span style="color:#8a8a8a">( Recommender systems | CNNs )</span></a></li>
        <li><a href="index.html#stats">Statistics &amp; Analytics <span style="color:#8a8a8a">( Scipy | Numpy | Scikit-learn | R )</span></a></li>
        <li><a href="index.html#scalable">Big Data & Scalable architectures <span style="color:#8a8a8a">( Scala | Spark | Kafka | Redshift )</span></a></li>
        <li><a href="index.html#nosql">NoSQL databases <span style="color:#8a8a8a">( Elasticsearch | Cassandra | MongoDB )</a></li>
        <li><a href="index.html#web">Web Development <span style="color:#8a8a8a">( Node.js | Clojure | Ruby on Rails | Python )</a></li>
      </ul>
    </p>
  </article>

  <article class="post">
    <h2 style="margin-top:30px">Current Client</h2>
    <div class="row" style="clear: both; display: table;">
      <div class="column" style="float: left; width: 12%; padding-left: 40px; margin-top: 7px;">
        <a href="http://rekall.ai">
          <img src="https://s3-eu-west-1.amazonaws.com/eu-west-1.beatletech.com/images/logo-rekall.png"
        alt="Rekall.ai" title="Chief Architect" style="width:80%"></a>
      </div>
      <div class="column" style="float: left; width: 70%; padding-left: 30px;">
         <b>Chief Architect</b> (Sept 2019 - present)<br>
         Rekall.ai builds data driven solutions powered by Blockchain and AI.
      </div>
    </div>
  </article>


  <article class="post">
    <h2 style="margin-top:30px">Recent Clients</h2>
    <div class="row" style="clear: both; display: table;">
      <div class="column" style="float: left; width: 24%; padding: 0px; margin-top: -10px">
        <a href="http://klm.com">
          <img src="https://s3-eu-west-1.amazonaws.com/eu-west-1.beatletech.com/images/logo-air-france-klm.png"
        alt="KLM" title="Tech Lead" style="width:100%"></a>
      </div>
      <div class="column" style="float: left; width: 21%; padding: 5px;">
        <a href="https://persgroep.nl">
          <img src="https://s3-eu-west-1.amazonaws.com/eu-west-1.beatletech.com/images/DPN-Logo-Staand-Secundair-300dpi-web.png" alt="De Persgroep" title="Lead Data Engineer" style="width:80%"></a>
      </div>
      <div class="column" style="float: left; width: 24%; padding: 1px;">
        <a href="https://skinvision.com">
          <img src="https://s3-eu-west-1.amazonaws.com/eu-west-1.beatletech.com/images/skinvision-logo.png"
        alt="Skinvision" title="CTO" style="width:100%"></a>
      </div>
      <div class="column" style="float: left; width: 24%; padding-top:
        8px; padding-left:25px">
        <a href="https://othot.com"><img src="https://s3-eu-west-1.amazonaws.com/eu-west-1.beatletech.com/images/othot-logo.jpg" alt="Othot" title="Senior Data Scientist" style="width:70%;"></a>
      </div>
    </div>
  </article>

  <article class="post">
    <h2 style="margin-top:30px">Education</h2>
    <p>
      I obtained my M.Sc. and B.Sc. in Computer Science from <a href="http://www.tudelft.nl/en/">Delft University of Technology</a> with
      minors in Psychology and Philosopy (at Leiden University). In Delft I continued pursuing a
      Ph.D. in Machine Learning.
    </p>
    <p>
      Two years into the Ph.D. program I decided to leave university and join
      startup <a href="http://wakoopa.com">Wakoopa</a> in Amsterdam (acquired in 2014) to build
      their recommender system. <br>This valuable experience inspired me to found my own startup
      Newcope, a platform for predictive analytics of virtual goods. Newcope got seed funded
      by <a href="http://www.ycombinator.com">Y Combinator</a> in 2010.
    </p>
  </article>

  <article class="post">
    <p>
      For my full CV and recent projects, please check out
      my <a href="http://linkedin.com/in/beatlevic">LinkedIn</a> profile.
    </p>
    <p>
      Also check out <a href="/setup">My Setup</a> for getting things done!
    </p>
  </article>

  <article class="post">
    <h2 style="margin-top:30px">Contact</h2>
    <div class="column"
         style="padding-left:10px;padding-bottom:10px;float:right;margin-top:-40px;margin-right:20px"><a href="https://aws.amazon.com/certification/certified-solutions-architect-associate/">
        <img src="https://s3-eu-west-1.amazonaws.com/eu-west-1.beatletech.com/images/AWS-CSAA.png" alt="AWS" align="center" width="110px" heigth="110px" /></a></div>
    <p>
      Email: <a href="mailto:beatlevic@gmail.com">beatlevic@gmail.com</a>
    </p>
    <p>
      Work Location: Amsterdam Area
    </p>
  </article>
</div> <!-- end main -->

<div id="sidebar" class="grid_4 omega">

  {% include recent-posts-widget.html %}
  {% include technologies-widget.html %}
  {% include links-widget.html %}
  {% include coursera.html %}

</div> <!-- end sidebar -->
