---
layout: default
location: site
menu: home
title: BeatleTech // Coen Stevens // Freelance web developer 
meta_keywords: web development, freelance web developer, beatlevic, web developer, Coen Stevens, hacker, architect, freelancer, ruby, clojure, javascript
---

<div id="main" class="grid_8 alpha">

  <article class="post">
    <p>
      BeatleTech is my (Coen Stevens) freelance company
      through which I offer my services, skills and experience in developing
      web applications and solving technical challenges.
    </p>
  </article>

  <article class="post">

    <h2>Software Development</h2>
    <p>
      As an entrepreneur, scientist and hacker, who
      returned from silicon valley to pick the dutch
      weather over the San Francisco sunny days, I'm now
      looking for interesting job opportunities and challenges to help
      out your (startup) company, for which I'm available for freelance work.
    </p>

    <p>
      Next to all-round web-development in Ruby, Node.js, Clojure and
      PHP, I'm specialized in:
      <ul>
        <li>Statistics &amp; Analytics</li>
        <li>Scalable architectures</li>
        <li>Big data</li>
        <li>Cognitive science &amp; Intelligent systems</li>
        <li>Recommender systems</li>
        <li>NoSQL databases</li>
        <li>Functional programming</li>
        <li>Business Intelligence &amp; Data warehousing</li>
      </ul>
    </p>
  </article>

  <article class="post">

    <h2>Consultancy</h2>

    <p>
      <a href="http://ycombinator.com"><img src="images/ycombinator.png" alt="" align="right" style="padding-left:20px;padding-top:5px" /></a>
      Besides development I can also give advice on
      development and business strategies. As a founder of
      a Y Combinator startup I had my fair share of the
      emotional rollercoaster that every entrepreneur goes
      through, which I love to share and teach others my
      lessons learned.
    </p>

    <div class="clear"></div>

  </article>

  <article class="post">
    <h2>Experience</h2>
    <p>
      I have worked on a host of applications with different technologies and frameworks of which the most
      notable ones I have listed below. 
    </p>

    <p>
      <a href="http://wakoopa.com"><img src="images/wakoopa.png" alt="" align="right" style="padding-left:20px" /></a>
      At Wakoopa I have desiged, optimized and
      extended their recommender system in Ruby, JRuby
      and Clojure, and additionally worked in <a name="ruby">Ruby on Rails</a> on software
      classification, version number recognition and dashboard
      tools. At Newcope I continued working on building
      dashboard analytics using Ruby on Rails.
    </p>

    <p>
      <a href="http://newcope.com"><img src="images/newcope.png" alt="" align="left" style="padding-right:20px;padding-top:10px" /></a>
      Next to Ruby on Rails I have a lot of experience in
      Javascript (JQuery), and server-side javascript
      called <a name="nodejs">Node.js</a>. For Newcope I
      build a fully fledged penny auction system, which was
      a perfect fit for Node.js's asynchonous nature.
    </p>

    <p>
      <a href="http://globalorange.nl"><img src="images/go.png" alt="" align="right" style="padding-left:20px" /></a>
      <a name="clojure">Clojure</a> is where I spend most
      my time both hacking in my free time on pet projects
      and for my previous work
      at GlobalOrange on data warehouse solutions and data import parsers.
    </p>

    <p>
      In my early years I have worked a lot
      with <a name="java">Java</a>, where one of my biggest
      projects was building an hours registration
      application. Nowadays I use a lot of java libraries in
      combination with Clojure, and use many of the Apache foundation
      projects (e.g. ActiveMQ, Solr, Maven, etc.)
    </p>

    <p>
      At my previous job as IT architect I also designed and
      troubleshooted  <a name="php">PHP</a> applications, for which we
      already started using the Symfony 2.0 framework that is due for
      a final production release in March 2011.
    </p>

    <div class="clear"></div>

  </article>

  <article class="post">
    <p>
      Learn more <a href="about.html">about me</a>
      or <a href="contact.html">contact</a> me right away!
    </p>
  </article>

</div> <!-- end main -->

<div id="sidebar" class="grid_4 omega">

  {% include technologies-widget.html %}
  {% include recent-posts-widget.html %}
  {% include links-widget.html %}
  {% include twitter-widget.html %}

</div> <!-- end sidebar -->
