---
layout: nl
location: nl/blog
menu: blog
title: BeatleTech // Coen Stevens // Freelance web developer // Blog
meta_keywords: web development, freelance web developer, freelance web programmer, beatlevic, web developer, Coen Stevens
topics: [ 'blogging', 'css', 'design', 'javascript', 'personal', 'projects', 'random', 'startups', 'web-development']
---               

<div id="main" class="grid_8 alpha">
  
  <article class="post">
    
    <p>
      Note: Deze posts zijn helaas alleen in het Engels beschikbaar.
    </p>
    
  </article>
  
  <!-- limit:1 -->    
  {% for post in site.posts %}
  <div class="post">  
    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
    <p class="publishdate">{{ post.date | date: "%A, %d %B  %Y"}}  <em> <a href="http://www.google.com/search?q={{ post.topics }}+site%3Abeatltech.com/blog">{{ post.topics }}</a> </em> </p>
    <p>{{ post.content }} 
      <div class="comments">
	<span style="font-size: 100%;"><a href="{{ post.url }}/#disqus_thread">View Comments</a> </span>
      </div>
    </p>
  </div>
  {% endfor %}


</div> <!-- end main -->

<div id="sidebar" class="grid_4 omega">

  <aside>
    <h3>Recent posts</h3>

    <table>
      <tbody>

        {% for post in site.posts offset: 0 limit: 10 %}
        <tr class="posttr">
          <td class="date">{{ post.date | date_to_string }}</td>
          <td class="postlink"><a href="{{ post.id }}/">{{ post.title }}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </aside>
  
</div> <!-- end sidebar -->
