<ul>
  <li class="cloud-rank-6"><a rel="tag" href="http://www.google.com/search?q=bottlenose+site%3Abeatletech.com">bottlenose</a></li>
  <li class="cloud-rank-5"><a rel="tag" href="http://www.google.com/search?q=clojure+site%3Abeatletech.com">clojure</a></li>
  <li class="cloud-rank-2"><a rel="tag" href="http://www.google.com/search?q=development+site%3Abeatletech.com">development</a></li>
  <li class="cloud-rank-4"><a rel="tag" href="http://www.google.com/search?q=freelancing+site%3Abeatletech.com">freelancing</a></li>
  <li class="cloud-rank-6"><a rel="tag" href="http://www.google.com/search?q=funding+site%3Abeatletech.com">funding</a></li>
  <li class="cloud-rank-6"><a rel="tag" href="http://www.google.com/search?q=javascript+site%3Abeatletech.com">javascript</a></li>
  <li class="cloud-rank-5"><a rel="tag" href="http://www.google.com/search?q=node.js+site%3Abeatletech.com">node.js</a></li>
  <li class="cloud-rank-6"><a rel="tag" href="http://www.google.com/search?q=ruby+site%3Abeatletech.com">ruby</a></li>
  <li class="cloud-rank-6"><a rel="tag" href="http://www.google.com/search?q=web-development+site%3Abeatletech.com">web-development</a></li>
  <li class="cloud-rank-1"><a rel="tag" href="http://www.google.com/search?q=work+site%3Abeatletech.com">work</a></li>
</ul>
