<aside class="widget">
  <h3>Recent Coursera courses</h3>
  <ul>
    <li><a href="https://www.coursera.org/course/statistics">Data Analysis and Statistical Inference</a></li>
    <li><a href="https://www.coursera.org/course/fmri">Statistical Analysis of fMRI Data</a></li>
    <li><a href="https://www.coursera.org/course/patterndiscovery">Pattern Discovery in Data Mining</a></li>
    <li><a href="https://www.coursera.org/course/learning">Learning How to Learn</a></li>
    <li><a href="https://www.coursera.org/course/bioinformatics">Bioinformatics Algorithms, Part 1</a></li>
    <li><a href="https://www.coursera.org/course/algo">Algorithms: Design and Analysis, Part 1</a></li>
    <li><a href="https://www.coursera.org/course/ml">Machine Learning</a></li>
  </ul>
</aside> <!-- end widget -->
