<aside class="widget">
  <h3>Education</h3>
  <ul>
    <li><a href="http://www.tudelft.nl/en/">Ph.D. [Dropout] Visual Perception (AI), TUDelft</a></li>
    <li><a href="http://www.tudelft.nl/en/">M.Sc. Knowledge based systems (AI), TUDelft</a></li>
    <li><a href="http://www.tudelft.nl/en/">B.Sc. Computer Science, TUDelft</a></li>
    <li><a href="http://www.universiteitleiden.nl/en">Propedeuse Psychology, Leiden University</a></li>
    <li><a href="http://www.universiteitleiden.nl/en">Propedeuse Philosophy, Leiden University</a></li>
  </ul>
</aside> <!-- end widget -->
