<aside class="widget ungray">
  <h3>Implementation Partner</h3>

  <img
    src="https://s3-eu-west-1.amazonaws.com/eu-west-1.beatletech.com/images/logo-rekall.png"
    alt="Rekall.ai"
    style="width: 16%; margin: 10px 60px 0px 120px"
  />

  <p
    style="
      font-size: 1.1em;
      padding-right: 40px;
      padding-left: 10px;
      margin-top: 10px;
      color: gray;
    "
  >
    <a href="http://rekall.ai" target="_blank">Rekall.ai</a> (New York HQ) is a
    global team of elite engineers, data scientists and product leaders that
    serves organizations that seek to dominate their respective markets with
    technology-forward, data-driven solutions.
  </p>
</aside>
<!-- end widget -->
