<aside class="widget">
  <h3>Links</h3>
  <ul>
    <!-- <li><a href="http://br-ai-n.com">brAIn</a></li> -->
    <li><a href="http://linkedin.com/in/beatlevic">LinkedIn</a></li>
    <li><a href="http://www.businessweek.com/magazine/content/10_12/b4171027577226.htm">Business Week</a></li>
    <li><a href="https://github.com/beatlevic">Github</a></li>
    <li><a href="https://about.me/beatlevic">About.me</a></li>
    <li><a href="https://www.slideshare.net/blueace/how-to-build-a-recommender-system-presentation">Recked / Recommender system</a></li>
  </ul>

</aside> <!-- end widget -->
<div class="column" style="padding-left:10px;padding-bottom:10px"><a href="http://ycombinator.com"><img src="images/ycombinator.png" alt="ycombinator" align="center" /></a></div>
