<aside class="widget">
  <!-- <ul id="menu" class="clearfix"> -->
  <!--   <li {% if page.menu == 'blog' %}class="current"{% endif %}><a href="blog">Blog</a></li> -->
  <!--   <li {% if page.menu == 'archive' %}class="current"{% endif %}><a href="archive">Archive</a></li> -->
  <!-- </ul> -->

  <h3>Recent posts <a href="http://feeds.feedburner.com/beatletech">
      {% case page.layout %}
        {% when 'nl' %}
        <img src="../images/feed.png" border="0"/>
        {% when 'post' %}
        <img src="../../../../images/feed.png" border="0"/>
        {% else %}
        <img src="images/feed.png" border="0"/>
      {% endcase %}
  </a></h3>
  <table>
    <tbody>

      {% for post in site.posts offset: 0 limit: 8 %}
      <tr class="posttr">
        <td class="date">{{ post.date | date_to_string }}</td>
        <td class="postlink"><a href="{{ post.url }}">{{ post.title }}</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</aside>
