<aside class="widget">
  <h3>Technology Skills</h3>
  <ul>
    <li><a href="index.html#nodejs">Programming: Scala | Python | Node | Clj | RoR</a></li>
    <li><a href="index.html#nosql">NoSQL: Elasticsearch | MongoDb | Cassandra</a></li>
    <li><a href="index.html#bigdata">BigData: Spark | Redshift | Airflow </a></li>
  </ul>
</aside> <!-- end widget -->
<div class="column" style="padding-left:10px;padding-bottom:10px"><a href="https://aws.amazon.com/certification/certified-solutions-architect-associate/"><img src="images/AWS-CSAA.png" alt="AWS" align="center" width="110px" heigth="110px" /></a></div>
