<aside class="widget" style="height:500px">
  <h3>Twitter</h3>
  <div style="padding-left:12px">
<a class="twitter-timeline" href="https://twitter.com/Beatlevic" data-widget-id="380736912928948225">Tweets by @Beatlevic</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
</aside> <!-- end widget -->

