---
layout: nl
location: nl/about
menu: about
title: BeatleTech // Coen Stevens // Freelance web developer & architect // About
meta_keywords: web development, freelance web developer, beatlevic, web developer, Coen Stevens, hacker, architect, freelancer, ruby, clojure, javascript
---

<div id="main" class="grid_8 alpha">
  
  <article class="post">
    
    <h2>Coen Stevens</h2>

    <p>
      Ik ben mijn cari&euml;re gestart in de wetenschap werkende aan
      een Phd in kunstmatige intelligentie waar ik na twee jaar een
      switch gemaakt heb naar het startup leven, en mijn eigen bedrijf
      gestart ben. Ik ben een groot voorstander van agile software
      ontwikkeling, en hou er van om te werken met andere technische
      ontwikkelaars. Daarnaast vind ik het ook leuk om samen te werken
      met niet technische mensen, en hun het technische aspect te
      leren. Ik zie mijzelf als iemand die makkelijk het technische en
      de business kan overbruggen, waarvoor ik de nodige communicatie
      vaardigheden en mensenkennis in huis heb.
    </p>

    <p>
      Mocht je geinteresseerd zijn om mij beter te leren kennen en
      te zien of we iets voor elkaar kunnen betekenen, dan ben ik
      altijd in voor een kopje koffie of een koud biertje!
    </p>
    
    <p>
      Voor mijn volwaardige CV, kijk op <a href="http://linkedin.com/in/beatlevic">LinkedIn</a>.
    </p>
    <p>
      Ik eindig hier met een van mijn favoriete quotes, die ik ooit
      geleend heb van Julias Caesar, hetgeen mooi past bij mijn 
      "Do or Die" filosofie.
    </p>
    <blockquote>
      <p>
        It is only hubris if you lose. - JC Stevens 2009
      </p>
    </blockquote>
    
  </article>
  
</div> <!-- end main -->

<div id="sidebar" class="grid_4 omega">

  {% include technologies-widget.html %}
  {% include recent-posts-widget.html %}
  {% include links-widget.html %}
  
</div> <!-- end sidebar -->
