---
layout: nl
location: nl
menu: home
title: BeatleTech // Coen Stevens // Freelance web developer & architect
meta_keywords: web development, freelance web developer, beatlevic, web developer, Coen Stevens, hacker, architect, freelancer, ruby, clojure, javascript
---

<div id="main" class="grid_8 alpha">

  <article class="post">
    <p>
      BeatleTech is mijn (Coen Stevens) freelance eenmanszaak waar
      anderen gebruik kunnen maken van mijn diensten, vaardigheden en ervaringen in het ontwikkelen
      van web applicaties en oplossen van technische uitdagingen.
    </p>
  </article>

  <article class="post">

    <h2>Software Ontwikkeling</h2>
    <p>
      Als ondernemer, onderzoeker en programmeur, die zojuist is
      teruggekeerd uit silicon valley om het nederlandse weer te
      verkiezen boven het zonnige San Francisco, ben ik nu op zoek naar
      interessante job opportunities en uitdagingen om jouw bedrijf te
      helpen, waar ik beschikbaar voor ben als freelancer.
    </p>

    <p>
      Naast all-round web-development in Ruby, Node.js, Clojure en
      PHP, ben ik gespecialiseerd in:
      <ul>
        <li><a href="index.html#stats">Statistiek &amp; Analyse</a></li>
        <li><a href="index.html#scalable">Schaalbare architecturen</a></li>
        <li><a href="index.html#big-data">Big data</a></li>
        <li><a href="index.html#cognitive">Cognitieve wetenschap &amp; Intelligente systemen</a></li>
        <li><a href="index.html#recommender">Recommender systems (aanbevelings systemen)</a></li>
        <li><a href="index.html#nosql">NoSQL databases</a></li>
        <li><a href="index.html#functional">Functioneel programmeren</a></li>
        <li><a href="index.html#bi">Business Intelligence &amp; Data warehousing</a></li>
      </ul>
    </p>

  </article>

  <article class="post">

    <h2>Advies</h2>

    <p>
      <a href="http://ycombinator.com"><img src="../images/ycombinator.png" alt="" align="right" style="padding-left:20px;padding-top:5px" /></a>
      Naast ontwikkelen kan ik ook advies geven over ontwikkeling en
      bedrijfs strategi&euml;n. Als oprichter van
      een Y Combinator bedrijf
      heb ik mijn aandeel wel gehad in de emotionele achtbaan waar
      iedere ondernemer doorheen gaat, wat ik graag wil delen en
      onderwijzen aan anderen.
    </p>

    <div class="clear"></div>

  </article>

  <article class="post">
    <h2>Ervaring</h2>
    <p>
      Ik heb gewerkt aan een hoop verschillend applicatie, en met
      verschillende technologi&euml;n van welke ik de meest noemenswaardige
      hieronder vermeld heb.
    </p>

    <p>
      <a href="http://wakoopa.com"><img src="../images/wakoopa.png" alt="" align="right" style="padding-left:20px" /></a>
      Bij Wakoopa heb ik hun
      recommender system ontworpen, geoptimaliseerd en uitgebreid in
      Ruby, JRuby en Clojure, en daarnaast geontwikkeld
      in <a name="ruby">Ruby on Rails</a> voor software classificatie,
      versie nummer herkenning en dashboard tools. Bij Newcope ben ik
      verder gegaan met het werken aan dashboard analytics met Ruby on Rails.
    </p>

    <p>
      <a href="http://newcope.com"><img src="../images/newcope.png" alt="" align="left" style="padding-right:20px;padding-top:10px" /></a>
      Naast Ruby on Rails heb ik een hoop ervaring opgedaan met
      Javascript (JQuery), en javascript aan de server kant
      genaamd <a name="nodejs">Node.js</a>. Voor Newcope heb ik
      volwaardig penny veiling system gebouwd, wat een ideale fit was
      voor de asynchrone architectuur van Node.js.
    </p>

    <p>
      <a href="http://globalorange.nl"><img src="../images/go.png" alt="" align="right" style="padding-left:20px" /></a>
      <a name="clojure">Clojure</a> is waar ik de meeste
      tijd aan spendeer voor zowel hobby projecten als voor mijn
      vorige werk bij Global Orange aan data warehouse oplossingen en
      data import parsers.
    </p>

    <p>
      In mijn eerdere dagen heb ik veel gewerkt
      met <a name="java">Java</a>, waar een van mijn grotere projecten
      bestond uit het bouwen van een uren registratie
      systeem. Tegenwoordig gebruik ik veel java libraries in
      combinatie met Clojure, en gebruik veel van de Apache foundation
      projecten, zoals ActiveMQ, Solr, Maven, etc.
    </p>

    <p>
      Bij mijn vorige baan als IT architect heb ik
      ook <a name="php">PHP</a> applicaties ontworpen en veel aan
      troubleshooting gedaan. Hiervoor zijn we al van start gegaan met
      het Symfony 2.0 framework wat gepland staat voor een final
      production ready release in Maart 2011.
   </p>

    <div class="clear"></div>

  </article>

  <article class="post">
    <p>
      Leer meer  <a href="about.html">over mij</a>
      of neem direct <a href="contact.html">contact</a> met mij op.
    </p>
  </article>

</div> <!-- end main -->

<div id="sidebar" class="grid_4 omega">

  {% include technologies-widget.html %}
  {% include recent-posts-widget.html %}
  {% include links-widget.html %}

</div> <!-- end sidebar -->
