html, body, div, span, applet, object, iframe, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, strong, tt, var, dl, dt, dd, blockquote, fieldset, form, i, b, caption, tbody, tfoot, thead, tr, th, td, ul, li {
  margin: 0;
  padding: 0;
  vertical-align: baseline; }
